@model CabManagement.Models.driver

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="driverId" />
            <div class="form-group">
                <label asp-for="driverName" class="control-label"></label>
                <input asp-for="driverName" class="form-control" />
                <span asp-validation-for="driverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="driverGender" class="control-label"></label>
                <input asp-for="driverGender" class="form-control" />
                <span asp-validation-for="driverGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="driverAge" class="control-label"></label>
                <input asp-for="driverAge" class="form-control" />
                <span asp-validation-for="driverAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
